In [1]:
# dependencies & setup
import pandas as pd
from pathlib import Path

# load files
school_data_to_load=Path('resources\schools_complete.csv')
student_data_to_load=Path('resources\students_complete.csv')

#read csv files into pandas dataframes
school_data=pd.read_csv(school_data_to_load)
student_data=pd.read_csv(student_data_to_load)

#combine the data into a single dataset
school_data_complete=pd.merge(student_data, school_data, how='left', on='school_name')
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
##district summary
#total number of unique schools
school_count=school_data_complete['school_name'].nunique()
print(f'Total Number of Schools: {school_count}')

#total number of students
student_count=school_data_complete['student_name'].count()
print(f'Total Number of Students: {student_count}')

#total district budget
indv_school_budget=school_data_complete['budget'].unique()
district_budget=indv_school_budget.sum()
print(f'Total District Budget: ${district_budget}')

#average math score
district_math=school_data_complete['math_score'].mean()
print(f'District Math Scores - Average: {district_math}%')

#average reading score
district_reading=school_data_complete['reading_score'].mean()
print(f'District Reading Scores - Average: {district_reading}%')

#percentage of students with passing math scores - greater than or equal to 70
passing_math_scores=school_data_complete[(school_data_complete['math_score']>=70)].count()['student_name']
passing_math_percentage=passing_math_scores/float(student_count)*100
print(f'Percentage of Students with Passing Math Scores - District Level: {passing_math_percentage}%')

#percentage of students with passing reading scores - greater than or equal to 70
passing_reading_scores=school_data_complete[(school_data_complete['reading_score']>=70)].count()['student_name']
passing_reading_percentage=passing_reading_scores/float(student_count)*100
print(f'Percentage of Students with Passing Reading Scores - District Level: {passing_reading_percentage}%')

#percentage of students with overall passing scores - math & reading - greater than or equal to 70
passing_math_reading_count=school_data_complete[\
    (school_data_complete['math_score']>=70) & (school_data_complete['reading_score']>=70)\
    ].count()['student_name']
overall_passing_rate=passing_math_reading_count/float(student_count)*100
print(f'Percentage of Students with Passing Math & Reading Scores - District Level: {overall_passing_rate}%')

Total Number of Schools: 15
Total Number of Students: 39170
Total District Budget: $24649428
District Math Scores - Average: 78.98537145774827%
District Reading Scores - Average: 81.87784018381414%
Percentage of Students with Passing Math Scores - District Level: 74.9808526933878%
Percentage of Students with Passing Reading Scores - District Level: 85.80546336482001%
Percentage of Students with Passing Math & Reading Scores - District Level: 65.17232575950983%

In [3]:
##district snapshot
#dataframe for district snapshot of key metrics
#collate the data into a dictionary
district_summary= {
    'Total Schools': [school_count],
    'Total Students': [student_count],
    'Total Budget': [district_budget],
    'Average Math Score': [district_math],
    'Average Reading Score': [district_reading],
    '% Passing Math': [passing_math_percentage],
    '% Passing Reading': [passing_reading_percentage],
    '% Overall Passing': [overall_passing_rate]
}
#create the dataframe
district_summary=pd.DataFrame(district_summary)

#formatting
district_summary['Total Schools']=district_summary['Total Schools'].map('{:,}'.format)
district_summary['Total Students'] = district_summary['Total Students'].map('{:,}'.format)
district_summary['Total Budget'] = district_summary['Total Budget'].map('${:,.2f}'.format)
district_summary['Average Math Score'] = district_summary['Average Math Score'].map('{:.2f}%'.format)
district_summary['Average Reading Score'] = district_summary['Average Reading Score'].map('{:.2f}%'.format)
district_summary['% Passing Math'] = district_summary['% Passing Math'].map('{:.2f}%'.format)
district_summary['% Passing Reading'] = district_summary['% Passing Reading'].map('{:.2f}%'.format)
district_summary['% Overall Passing'] = district_summary['% Overall Passing'].map('{:.2f}%'.format)

#display the dataframe
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99%,81.88%,74.98%,85.81%,65.17%

In [4]:
##school summary

In [5]:
#type per school -- code provided
school_data=school_data.sort_values(by='school_name')
school_types=school_data.set_index(['school_name'])['type']

#total student count per school
students_per_school=school_data.set_index('school_name')['size']

#school budgets
school_budgets=school_data.set_index(['school_name'])['budget']


#per capita spending per school
per_capita_spending = school_budgets / students_per_school

In [6]:
#average test scores per school
#math
per_school_math=school_data_complete.groupby('school_name')['math_score'].mean()

#reading
per_school_reading=school_data_complete.groupby('school_name')['reading_score'].mean()

In [7]:
#student population per school with passing test scores
#math
students_passing_math=school_data_complete[(school_data_complete['math_score']>=70)].count()['student_name']

count_per_school_passing_math=school_data_complete[(school_data_complete['math_score']>=70)]\
.groupby('school_name')['student_name'].count()

#reading
students_passing_reading=school_data_complete[(school_data_complete['reading_score']>=70)].count()['student_name']

count_per_school_passing_reading=school_data_complete[(school_data_complete['reading_score']>=70)]\
.groupby('school_name')['student_name'].count()

#math & reading
students_passing_math_and_reading = school_data_complete[
    (school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)
]
count_per_school_passing_math_and_reading = students_passing_math_and_reading.groupby(['school_name']).size()

#passing rates
per_school_math_rate=count_per_school_passing_math/students_per_school*100
per_school_reading_rate=count_per_school_passing_reading/students_per_school*100
per_school_overall_rate=count_per_school_passing_math_and_reading/students_per_school*100

In [8]:
#dataframe for individual school key metrics
#collate the data into a dictionary
per_school_summary= {
    'School Name':students_per_school.index,
    'School Type':school_types,
    'Total Students': students_per_school,
    'Total School Budget':school_budgets,
    'Per Student Budget':per_capita_spending,
    'Average Math Score': per_school_math,
    'Average Reading Score':per_school_reading,
    '% Passing Math':per_school_math_rate,
    '% Passing Reading':per_school_reading_rate,
    '% Overall Passing':per_school_overall_rate
}
#create the dataframe
per_school_summary=pd.DataFrame(per_school_summary)

#formatting
per_school_summary['Total Students']= per_school_summary['Total Students'].map('{:,}'.format)
per_school_summary['Total School Budget'] = per_school_summary['Total School Budget'].map('${:,.2f}'.format)
per_school_summary['Per Student Budget'] = per_school_summary['Per Student Budget'].map('${:,.2f}'.format)
per_school_summary['Average Math Score'] = per_school_summary['Average Math Score'].map('{:.2f}%'.format)
per_school_summary['Average Reading Score'] = per_school_summary['Average Reading Score'].map('{:.2f}%'.format)
per_school_summary['% Passing Math'] = per_school_summary['% Passing Math'].map('{:.2f}%'.format)
per_school_summary['% Passing Reading'] = per_school_summary['% Passing Reading'].map('{:.2f}%'.format)
per_school_summary['% Overall Passing'] = per_school_summary['% Overall Passing'].map('{:.2f}%'.format)

#display the dataframe
per_school_summary

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,,
Bailey High School,Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05%,81.03%,66.68%,81.93%,54.64%
Cabrera High School,Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06%,83.98%,94.13%,97.04%,91.33%
Figueroa High School,Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71%,81.16%,65.99%,80.74%,53.20%
Ford High School,Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10%,80.75%,68.31%,79.30%,54.29%
Griffin High School,Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35%,83.82%,93.39%,97.14%,90.60%
Hernandez High School,Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29%,80.93%,66.75%,80.86%,53.53%
Holden High School,Holden High School,Charter,427,"$248,087.00",$581.00,83.80%,83.81%,92.51%,96.25%,89.23%
Huang High School,Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63%,81.18%,65.68%,81.32%,53.51%
Johnson High School,Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07%,80.97%,66.06%,81.22%,53.54%
Pena High School,Pena High School,Charter,962,"$585,858.00",$609.00,83.84%,84.04%,94.59%,95.95%,90.54%
Rodriguez High School,Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84%,80.74%,66.37%,80.22%,52.99%
Shelton High School,Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36%,83.73%,93.87%,95.85%,89.89%
Thomas High School,Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42%,83.85%,93.27%,97.31%,90.95%
Wilson High School,Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27%,83.99%,93.87%,96.54%,90.58%
Wright High School,Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68%,83.95%,93.33%,96.61%,90.33%

In [9]:
##school performance rankings
#top performing schools

#sort schools by % Overall Passing in descending order 
per_school_summary_df_sorted=per_school_summary.sort_values(by='% Overall Passing', ascending=False)

#build a dataframe for the top 5 schools
top_schools=per_school_summary_df_sorted.head(5)

#display the top 5 schools 
top_schools

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,,
Cabrera High School,Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06%,83.98%,94.13%,97.04%,91.33%
Thomas High School,Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42%,83.85%,93.27%,97.31%,90.95%
Griffin High School,Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35%,83.82%,93.39%,97.14%,90.60%
Wilson High School,Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27%,83.99%,93.87%,96.54%,90.58%
Pena High School,Pena High School,Charter,962,"$585,858.00",$609.00,83.84%,84.04%,94.59%,95.95%,90.54%

In [10]:
#lowest performing schools by % Overall Passing

#sort the schools in ascending order
per_school_summary_df_low=per_school_summary.sort_values(by='% Overall Passing', ascending=True)

#build and name the dataframe for the 5 lowest-performing schools 
bottom_schools=per_school_summary_df_low.head(5)

#display the dataframe
bottom_schools

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,,
Rodriguez High School,Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84%,80.74%,66.37%,80.22%,52.99%
Figueroa High School,Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71%,81.16%,65.99%,80.74%,53.20%
Huang High School,Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63%,81.18%,65.68%,81.32%,53.51%
Hernandez High School,Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29%,80.93%,66.75%,80.86%,53.53%
Johnson High School,Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07%,80.97%,66.06%,81.22%,53.54%

In [11]:
##scores - math

#calculate average math scores for students in each grade level

#separate the data by grade
ninth_graders = school_data_complete[(school_data_complete['grade'] == '9th')]
tenth_graders = school_data_complete[(school_data_complete['grade'] == '10th')]
eleventh_graders = school_data_complete[(school_data_complete['grade'] == '11th')]
twelfth_graders = school_data_complete[(school_data_complete['grade'] == '12th')]

#group data by school_name and calculate the math_score average for each grade level
ninth_grade_math_scores=ninth_graders.groupby('school_name')['math_score'].mean()
tenth_grade_math_scores=tenth_graders.groupby('school_name')['math_score'].mean()
eleventh_grade_math_scores=eleventh_graders.groupby('school_name')['math_score'].mean()
twelfth_grade_math_scores=twelfth_graders.groupby('school_name')['math_score'].mean()

#combine scores into a single dataframe
math_scores_by_grade=pd.DataFrame({
    '9th Grade': ninth_grade_math_scores,
    '10th Grade': tenth_grade_math_scores,
    '11th Grade': eleventh_grade_math_scores,
    '12th Grade': twelfth_grade_math_scores
})

#minor data wrangling
math_scores_by_grade.index.name=None

#display the dataframe
math_scores_by_grade

                       9th Grade  10th Grade  11th Grade  12th Grade
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

In [12]:
##scores - reading

#calculate average reading scores for students in each grade level

#separate the data by grade
ninth_graders = school_data_complete[(school_data_complete['grade'] == '9th')]
tenth_graders = school_data_complete[(school_data_complete['grade'] == '10th')]
eleventh_graders = school_data_complete[(school_data_complete['grade'] == '11th')]
twelfth_graders = school_data_complete[(school_data_complete['grade'] == '12th')]

#group data by school_name and calculate the math_score average for each grade level
ninth_grade_reading_scores=ninth_graders.groupby('school_name')['reading_score'].mean()
tenth_grade_reading_scores=tenth_graders.groupby('school_name')['reading_score'].mean()
eleventh_grade_reading_scores=eleventh_graders.groupby('school_name')['reading_score'].mean()
twelfth_grade_reading_scores=twelfth_graders.groupby('school_name')['reading_score'].mean()

#combine scores into a single dataframe
reading_scores_by_grade=pd.DataFrame({
    '9th Grade': ninth_grade_reading_scores,
    '10th Grade': tenth_grade_reading_scores,
    '11th Grade': eleventh_grade_reading_scores,
    '12th Grade': twelfth_grade_reading_scores
})

#minor data wrangling
reading_scores_by_grade.index.name=None

#display the dataframe
reading_scores_by_grade

                       9th Grade  10th Grade  11th Grade  12th Grade
Bailey High School     81.303155   80.907183   80.945643   80.912451
Cabrera High School    83.676136   84.253219   83.788382   84.287958
Figueroa High School   81.198598   81.408912   80.640339   81.384863
Ford High School       80.632653   81.262712   80.403642   80.662338
Griffin High School    83.369193   83.706897   84.288089   84.013699
Hernandez High School  80.866860   80.660147   81.396140   80.857143
Holden High School     83.677165   83.324561   83.815534   84.698795
Huang High School      81.290284   81.512386   81.417476   80.305983
Johnson High School    81.260714   80.773431   80.616027   81.227564
Pena High School       83.807273   83.612000   84.335938   84.591160
Rodriguez High School  80.993127   80.629808   80.864811   80.376426
Shelton High School    84.122642   83.441964   84.373786   82.781671
Thomas High School     83.728850   84.254157   83.585542   83.831361
Wilson High School     83.939778   84.021452   83.764608   84.317673
Wright High School     83.833333   83.812757   84.156322   84.073171

In [13]:
##scores by school spending


#establish the bins
spending_bins=[0, 585, 630, 645, 680]
labels=['<$585', '$585-630', '$630-645', '$645-680']

#duplicate the school summary for later use
school_spending_df=per_school_summary.copy()

#categorize per-student spending based on the bins
school_spending_df['Spending Ranges (Per Student)'] = pd.cut(per_capita_spending, bins=spending_bins, labels=labels)

#convert Spending Ranges (Per Student) to a string
school_spending_df['Spending Ranges (Per Student)']=school_spending_df['Spending Ranges (Per Student)'].astype(str)

school_spending_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,,
Bailey High School,Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05%,81.03%,66.68%,81.93%,54.64%,$585-630
Cabrera High School,Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06%,83.98%,94.13%,97.04%,91.33%,<$585
Figueroa High School,Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71%,81.16%,65.99%,80.74%,53.20%,$630-645
Ford High School,Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10%,80.75%,68.31%,79.30%,54.29%,$630-645
Griffin High School,Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35%,83.82%,93.39%,97.14%,90.60%,$585-630
Hernandez High School,Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29%,80.93%,66.75%,80.86%,53.53%,$645-680
Holden High School,Holden High School,Charter,427,"$248,087.00",$581.00,83.80%,83.81%,92.51%,96.25%,89.23%,<$585
Huang High School,Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63%,81.18%,65.68%,81.32%,53.51%,$645-680
Johnson High School,Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07%,80.97%,66.06%,81.22%,53.54%,$645-680
Pena High School,Pena High School,Charter,962,"$585,858.00",$609.00,83.84%,84.04%,94.59%,95.95%,90.54%,$585-630
Rodriguez High School,Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84%,80.74%,66.37%,80.22%,52.99%,$630-645
Shelton High School,Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36%,83.73%,93.87%,95.85%,89.89%,$585-630
Thomas High School,Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42%,83.85%,93.27%,97.31%,90.95%,$630-645
Wilson High School,Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27%,83.99%,93.87%,96.54%,90.58%,<$585
Wright High School,Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68%,83.95%,93.33%,96.61%,90.33%,<$585

In [14]:
#convert the data to a float
school_spending_df['Average Math Score']=school_spending_df['Average Math Score'].str.replace('%','').astype(float)
school_spending_df['Average Reading Score']=school_spending_df['Average Reading Score'].str.replace('%','').astype(float)
school_spending_df['% Passing Math']=school_spending_df['% Passing Math'].str.replace('%','').astype(float)
school_spending_df['% Passing Reading']=school_spending_df['% Passing Reading'].str.replace('%','').astype(float)
school_spending_df['% Overall Passing']=school_spending_df['% Overall Passing'].str.replace('%','').astype(float)

In [15]:
#calculate the average math and reading scores, passing math and reading percentages, and overall passing percentage per spending bin
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

#assemble into a dataframe
spending_summary={
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
}
#create the dataframe
spending_summary=pd.DataFrame(spending_summary)

#display the dataframe
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
$585-630,81.900000,83.155000,87.132500,92.717500,81.417500
$630-645,78.517500,81.625000,73.485000,84.392500,62.857500
$645-680,76.996667,81.026667,66.163333,81.133333,53.526667
<$585,83.452500,83.932500,93.460000,96.610000,90.367500

In [16]:
##scores by school size

In [17]:
#establish the bins
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

#duplicate the school summary for later use
size_summary_df=per_school_summary.copy()

#categorize school size based on the bins
size_summary_df['Scores by School Size'] = pd.cut(students_per_school, bins=size_bins, labels=labels)

#convert School Size to a string
size_summary_df['Scores by School Size']=size_summary_df['Scores by School Size'].astype(str)


size_summary_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Scores by School Size
school_name,,,,,,,,,,,
Bailey High School,Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05%,81.03%,66.68%,81.93%,54.64%,Large (2000-5000)
Cabrera High School,Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06%,83.98%,94.13%,97.04%,91.33%,Medium (1000-2000)
Figueroa High School,Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71%,81.16%,65.99%,80.74%,53.20%,Large (2000-5000)
Ford High School,Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10%,80.75%,68.31%,79.30%,54.29%,Large (2000-5000)
Griffin High School,Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35%,83.82%,93.39%,97.14%,90.60%,Medium (1000-2000)
Hernandez High School,Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29%,80.93%,66.75%,80.86%,53.53%,Large (2000-5000)
Holden High School,Holden High School,Charter,427,"$248,087.00",$581.00,83.80%,83.81%,92.51%,96.25%,89.23%,Small (<1000)
Huang High School,Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63%,81.18%,65.68%,81.32%,53.51%,Large (2000-5000)
Johnson High School,Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07%,80.97%,66.06%,81.22%,53.54%,Large (2000-5000)
Pena High School,Pena High School,Charter,962,"$585,858.00",$609.00,83.84%,84.04%,94.59%,95.95%,90.54%,Small (<1000)
Rodriguez High School,Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84%,80.74%,66.37%,80.22%,52.99%,Large (2000-5000)
Shelton High School,Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36%,83.73%,93.87%,95.85%,89.89%,Medium (1000-2000)
Thomas High School,Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42%,83.85%,93.27%,97.31%,90.95%,Medium (1000-2000)
Wilson High School,Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27%,83.99%,93.87%,96.54%,90.58%,Large (2000-5000)
Wright High School,Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68%,83.95%,93.33%,96.61%,90.33%,Medium (1000-2000)

In [18]:
#size summary dataframe
#convert the data back to a float to calculate averages
size_summary_df['Average Math Score']=size_summary_df['Average Math Score'].str.replace('%','').astype(float)
size_summary_df['Average Reading Score']=size_summary_df['Average Reading Score'].str.replace('%','').astype(float)
size_summary_df['% Passing Math']=size_summary_df['% Passing Math'].str.replace('%','').astype(float)
size_summary_df['% Passing Reading']=size_summary_df['% Passing Reading'].str.replace('%','').astype(float)
size_summary_df['% Overall Passing']=size_summary_df['% Overall Passing'].str.replace('%','').astype(float)

#calculate the average math and reading scores, passing math and reading percentages, and overall passing percentage per size bin
size_math_scores = size_summary_df.groupby(["Scores by School Size"])["Average Math Score"].mean()
size_reading_scores = size_summary_df.groupby(["Scores by School Size"])["Average Reading Score"].mean()
size_passing_math = size_summary_df.groupby(["Scores by School Size"])["% Passing Math"].mean()
size_passing_reading = size_summary_df.groupby(["Scores by School Size"])["% Passing Reading"].mean()
size_overall_passing = size_summary_df.groupby(["Scores by School Size"])["% Overall Passing"].mean()

#assemble into a dataframe
size_summary={
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
}
#create the dataframe
size_summary=pd.DataFrame(size_summary)

#display the dataframe
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Scores by School Size,,,,,
Large (2000-5000),77.745,81.34375,69.96375,82.76625,58.285
Medium (1000-2000),83.374,83.86600,93.59800,96.79000,90.620
Small (<1000),83.820,83.92500,93.55000,96.10000,89.885

In [19]:
##scores by school type

#revert the per_school_summary dataframe to a float
per_school_summary['Average Math Score']=per_school_summary['Average Math Score'].str.replace('%','').astype(float)
per_school_summary['Average Reading Score']=per_school_summary['Average Reading Score'].str.replace('%','').astype(float)
per_school_summary['% Passing Math']=per_school_summary['% Passing Math'].str.replace('%','').astype(float)
per_school_summary['% Passing Reading']=per_school_summary['% Passing Reading'].str.replace('%','').astype(float)
per_school_summary['% Overall Passing']=per_school_summary['% Overall Passing'].str.replace('%','').astype(float)


#group the per_school_summary dataframe by school type and average the testing scores
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

#assemble into a dataframe
type_summary={
    "Average Math Score": average_math_score_by_type,
    "Average Reading Score": average_reading_score_by_type,
    "% Passing Math": average_passing_math_by_type,
    "% Passing Reading": average_passing_reading_by_type,
    "% Overall Passing": average_overall_passing_by_type
}
#create the dataframe
type_summary=pd.DataFrame(type_summary)

#display the dataframe
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.472500,83.896250,93.620000,96.586250,90.431250
District,76.955714,80.965714,66.548571,80.798571,53.671429